spring:
  application:
    name: toeic-vocab-api
  datasource:
    url: "${DB_URL:jdbc:postgresql://localhost:5432/toeic_vocab_db}"
    username: "${DB_USERNAME:toeic_user}"
    password: "${DB_PASSWORD:toeic_password}"
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: "${JPA_SHOW_SQL:true}"
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        default_batch_fetch_size: 50
        format_sql: true
        jdbc:
          time_zone: Asia/Ho_Chi_Minh
    open-in-view: false
  jackson:
    time-zone: Asia/Ho_Chi_Minh
  flyway:
    locations: classpath:db/migration
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.security.servlet.UserDetailsServiceAutoConfiguration

server:
  port: "${SERVER_PORT:5050}"

api:
  prefix: /api/v1

toeic:
  app:
    jwtSecret: "${JWT_SECRET:REPLACE_WITH_BASE64_JWT_SECRET}"
    jwtExpirationMs: "${JWT_EXPIRATION_MS:604800000}"
    guestProgressExpirationMs: "${GUEST_PROGRESS_EXPIRATION_MS:2592000000}"

app:
  auth:
    seed-admin-email: "${ADMIN_EMAIL:admin@toeic.local}"
    seed-admin-password: "${ADMIN_PASSWORD:admin123}"
    seed-admin-name: "${ADMIN_NAME:System Admin}"

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
